$screen-xs: 0 !default;
$screen-sm: 480px !default;
$screen-md: 768px !default;
$screen-lg: 992px !default;
$screen-xl: 1200px !default;
$screen-xxl: 1800px !default;

$container-sm: 100% !default;
$container-md: 100% !default;
$container-lg: ($screen-lg - 30) !default;
$container-xl: ($screen-xl - 30) !default;
$container-xxl: ($screen-xxl - 30) !default;

$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;

//------------------------------------------------------------------------------
//  Генератор правил для контейнера
//------------------------------------------------------------------------------

@mixin container(
  $xs-grid-gutter: $grid-gutter-width,
  $sm-grid-gutter: $grid-gutter-width,
  $md-grid-gutter: $grid-gutter-width,
  $lg-grid-gutter: $grid-gutter-width,
  $xl-grid-gutter: $grid-gutter-width,
  $xxl-grid-gutter: $grid-gutter-width
) {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  @if ($xs-grid-gutter != 0) {
    padding-left: ($xs-grid-gutter / 2);
    padding-right: ($xs-grid-gutter / 2);
  }

  @if ($sm-grid-gutter != null) {
    @media (min-width: $screen-sm) {
      width: $container-sm;

      @if ($sm-grid-gutter != $xs-grid-gutter) {
        padding-left: ($sm-grid-gutter / 2);
        padding-right: ($sm-grid-gutter / 2);
      }
    }
  }

  @if ($md-grid-gutter != null) {
    @media (min-width: $screen-md) {
      width: $container-md;

      @if ($md-grid-gutter != $sm-grid-gutter) {
        padding-left: ($md-grid-gutter / 2);
        padding-right: ($md-grid-gutter / 2);
      }
    }
  }

  @if ($lg-grid-gutter != null) {
    @media (min-width: $screen-lg) {
      width: $container-lg;

      @if ($lg-grid-gutter != $md-grid-gutter) {
        padding-left: ($lg-grid-gutter / 2);
        padding-right: ($lg-grid-gutter / 2);
      }
    }
  }

  @if ($xl-grid-gutter != null) {
    @media (min-width: $screen-xl) {
      width: $container-xl;

      @if ($xl-grid-gutter != $lg-grid-gutter) {
        padding-left: ($xl-grid-gutter / 2);
        padding-right: ($xl-grid-gutter / 2);
      }
    }
  }

  @if ($xxl-grid-gutter != null) {
    @media (min-width: $screen-xxl) {
      width: $container-xxl;

      @if ($xxl-grid-gutter != $xl-grid-gutter) {
        padding-left: ($xxl-grid-gutter / 2);
        padding-right: ($xxl-grid-gutter / 2);
      }
    }
  }
}
