@mixin font-include($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    src: url('../fonts/#{$file_name}.woff') format('woff'),
      url('../fonts/#{$file_name}.woff2') format('woff2');
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@mixin font(
  $ff: null,
  $fz: null,
  $lh: null,
  $fw: null,
  $color: null,
  $lc: null
) {
  font-family: $ff;
  font-size: $fz;
  line-height: $lh;
  font-weight: $fw;
  color: $color;
  letter-spacing: $lc;
}

@mixin field-help-text {
  display: block;
  padding-top: 1.2em;
  font-size: 0.75em;
  line-height: 1.2em;
  color: $gray;

  &:empty {
    display: none;
  }
}
