.page-head {
  padding-top: 40px;
  padding-bottom: 20px;

  @include media-md {
    padding-top: 60px;
  }

  @include media-lg {
    padding-top: 70px;
  }

  @include media-xl {
    padding-top: 80px;
  }

  .container {
    position: relative;
  }

  .contacts {
    font-size: 22px;
    font-weight: 600;

    @include media-md {
      font-size: 26px;
    }
    @include media-lg {
      font-size: 28px;
    }
  }

  &_overhead {
    font-size: 20px;
    font-weight: 700;
    color: $black;
    margin-top: 0;
    margin-bottom: 25px;

    @include media-md {
      font-size: 22px;
    }
    @include media-lg {
      font-size: 24px;
    }
  }

  &_row {
    padding-top: 30px;
    padding-bottom: 60px;

    @include media-md {
      padding-top: 40px;
      padding-bottom: 80px;
    }

    @include media-lg {
      padding-top: 50px;
      padding-bottom: 100px;
    }

    @include media-xl {
      padding-top: 50px;
      padding-bottom: 120px;
    }

    &:not(:first-child) {
      border-top: 1px solid rgba($gray, 0.3);
    }
  }

  &_cols {
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 50px;

    @include media-md {
      grid-gap: 60px 50px;
    }
    @include media-lg {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 80px 60px;
    }

    .page-head_content {
      margin-bottom: 40px;
    }
    @include media-md {
      .page-head_content {
        margin-bottom: 90px;
      }
    }
    @include media-lg {
      .page-head_content {
        margin-bottom: 0;
      }
    }
  }

  &_title {
    margin-bottom: 10px;

    @include media-md {
      margin-bottom: 15px;
    }

    @include media-xl {
      margin-bottom: 20px;
    }
  }

  &_sub-title {
    margin-bottom: 15px;

    @include media-lg {
      margin-bottom: 0;
    }
  }

  &_content {
    position: relative;
    z-index: 2;
  }

  &--main,
  &--about {
    padding: 50px 0 40px;

    .page-head_cols {
      @media screen and (max-width: 999px) {
        row-gap: 0;
      }
    }

    .page-head_img {
      z-index: 1;
      width: 100%;
      background-repeat: no-repeat;
      background-position: right center;
      background-size: contain;
      text-align: center;

      img {
        max-width: ((510 / ((1500 - 80) / 2)) * 100%);
      }
    }

    @include media-lg {
      padding: 120px 0;
    }

    @include media-xl {
      padding: 110px 0;
    }
  }

  &--main {
    @include media-md {
      padding: 70px 0 90px;
    }
  }

  &--about {
    @include media-md {
      padding: 70px 0;
    }
    .page-head_cols {
      @include media-lg {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 80px 60px;
      }
      @include media-xl {
        grid-gap: 100px 120px;
      }
    }
    .page-head_content {
      @include media-lg {
        grid-column: span 2;
      }
    }
  }
}
