$grid-gutter-width-60: 60px;
$grid-gutter-width-80: 80px;
$grid-gutter-width-120: 120px;

.flex {
  display: flex;

  &-sb {
    justify-content: space-between;
  }

  &-ac {
    align-items: center;
  }

  &-align-end {
    align-items: flex-end;
  }
}

.grid-2,
.grid-3,
.grid-4 {
  display: grid;
}

.grid-2 {
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 50px;

  @include media-md {
    grid-gap: 60px 50px;
  }
  @include media-lg {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 80px 60px;
  }
  @include media-xl {
    grid-gap: 80px 80px;
  }
}

.grid-3 {
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 50px;

  @include media-md {
    grid-gap: 60px 50px;
  }
  @include media-lg {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 80px 60px;
  }
  @include media-xl {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 100px 120px;
  }
}

.grid-4 {
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;

  @include media-md {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
  }
}
