.btn {
  @include font($fz: 13px, $lh: 13px, $fw: 600, $color: $blue);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid rgba($blue, 0.5);
  box-shadow: none;
  outline: none !important;
  transition-duration: $transition-time;
  cursor: pointer;
  padding: 27.5px 17.5px;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  &:hover {
    background: $blue;
    border-color: $blue;
    color: #fff;
  }

  &:active {
    background: $btn-active;
    border-color: $btn-active;
    color: #fff;
  }

  &--blue {
    background: $blue;
    color: #fff;
    border-color: rgba($blue, 1);

    &:hover {
      background: rgba($blue, 0);
      border-color: rgba($blue, 0.5);
      color: $blue;
    }

    &:active {
      background: rgba($blue, 0);
      border-color: rgba($blue, 0.3);
      color: $blue;
    }
  }

  &--sm {
    @include font($fz: 8px, $lh: 1, $fw: 600);
    padding: 8.5px 7px;

    @include media-md {
      @include font($fz: 10px, $lh: 1, $fw: 600);
      padding: 15px 17.5px;
    }
  }

  &--wide {
    width: 100%;
    @include media-lg {
      max-width: 320px;
    }
  }

  &--fw {
    width: 100%;
  }

  &--link {
    vertical-align: baseline;
    color: #477afb;
    padding: 0 !important;
    border: none !important;
    background: transparent !important;
    box-shadow: none !important;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;

    &:hover,
    &:active,
    &:focus {
      color: #346af4 !important;
    }
  }
}
